.custom-navbar {
  background-color: #f2dcc9;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}

/* .navbar-brand {
  display: flex;
  justify-content: center;
} */
.Logo {
  margin-right: 70vh;
}

a {
  font-size: 22px;
  color: #2a2a2a;
  text-decoration: inherit;
}

.search-icon {
  margin-right: auto;
  margin-left: 20px;
}

a:hover {
  color: #4e4e4f;
}

.offcanvas {
  border: none;
}

#Nav\.Link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 10px;
  border: transparent;
  background-color: transparent;
}

#Nav\.Link li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin: 10px;
}

#dropdown-basic-button {
  background-color: transparent;
  color: #000000;
  border: transparent;
}

@media only screen and (max-width: 768px) {
  #responsive-navbar-nav {
    height: 20vh;
  }
  .Logo {
    margin-right: 32px;
    width: 80px;
    height: auto;
  }

  div.Nav-icons {
    display: flex;
    justify-content: end;
  }
}
