.search-form {
  width: 80vw;
  height: 5.7vh;
  max-width: 600px;
  max-width: 400px;
  border-radius: 20px;
  margin-top: 1rem;
  margin-left: 35%;
  margin-bottom: 1rem;
  border: 1px solid #d9b88f;
  border-radius: 0%;
  justify-content: center;
}

.search-results {
  display: grid;
  justify-content: center;
}

.Card.Img {
  width: 2rem;
}
